body{
  background-color:#F9F6EE;
  font-family: serif;
  font: 2px;
}

h3{
  line-height:1px;
  
}

h4{
  line-height:1px;
}

p{
  line-height:1px;
}

.top-header{
 
  text-align: left;
  line-height: 4px;
  border-bottom: 2px solid;
  
}

.row {
  
  display: flex;
  

}

.column{
  flex: 50%; 
  padding: 10px;
  
}
